.body_section {
    height: 90vh;
    display: flex;
    padding-top: 3em;
}

.form_light_detail {
    border: 2px;
    border: black;
    border-radius: 5px;
    background: linear-gradient(to right, #000000, #636c6d);
    color: #ffffff !important;
}

.text_white {
    color: #ffffff !important;
}

.bot {
    width: 100%;
    height: 87%;
    overflow: scroll;
    background-color: white;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.bot::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.rightcol {
    width: 100%;
    height: 80%;
    background-color: white;
}

.comman_card {
    background-color: gray;
}

.navbar {
    z-index: 50 !important;
    top: 0 !important;
    position: fixed !important;
    width: 100% !important;
    height: 60px !important;
}